<div class="view">
    <div class="full-bg-img">
        <div class="mask rgba-black-light flex-center">
            <div class="container text-center white-text">
                <div class="white-text text-center wow fadeInUp">
                    <h1>คำสั่ง</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="container" style="background: rgba(194, 208, 234, 0.4);">
        <div class="row mt-5">
            <div class="col">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <a href="assets/Commands/commands-216_2561.PDF" target="_blank">คำสั่ง สทนช. ที่ 216/2561 เรื่องจัดตั้งศูนย์เฉพาะกิจชั่วคราวในภาวะวิกฤติ</a>
                                        <span class="badge red">New</span>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="assets/Commands/commands-2-2561.pdf" target="_blank"> คำสั่ง คสช. ที่ 2/2561 เรื่อง การจัดสรรภารกิจและบุคลากรของสานักงานทรัพยากรน้ำแห่งชาติ</a>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="assets/Commands/commands-46-2560.pdf" target="_blank">คำสั่ง คสช. ที่ 46/2560 เรื่อง การจัดตั้งสำนักงานบริหารจัดการทรัพยากรน้ำแห่งชาติ</a>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>