.view {
    // background: url("/../assets/img/bg-underWater.jpg")no-repeat center center;
    background: url("http://water.rid.go.th/hwm/wmoc/tcmc/assets/img/bg-underWater.jpg")no-repeat center center;
    background-size: cover;
    height: 40vh;
}

.view1 {
    // background: url("/../assets/img/bg-underWater.jpg")no-repeat center center;
    background: url("http://water.rid.go.th/hwm/wmoc/tcmc/assets/img/bg-underWater.jpg")no-repeat center center;
    background-size: cover;
    height: 100%;
}