<div class="view">
  <div class="full-bg-img">
    <div class="mask flex-center">
      <div class="black-text">
        <div class="black-text">
          <section>
            <div class="card mx-xl-5 mb-3">
              <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title">
                  <i class="fa fa-sign-in"></i> Log in</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" routerLink=''>
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="card-body">
                <!-- Login form -->
                <form [FormGroup]="loginForm">

                  <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" FormControlName="defaultFormEmail" id="defaultForm-email" class="form-control" mdbInputDirective>
                    <label for="defaultForm-email">Username</label>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" FormControlName="defaultFormPass" id="defaultForm-pass" class="form-control" mdbInputDirective>
                    <label for="defaultForm-pass">Password</label>
                  </div>

                  <div class="text-center">
                    <input type="submit" mdbBtn color="default" sclass="waves-light" routerLink='/to-admin' routerLinkActive='active' mdbWavesEffect value="Login">
                    <!-- <input type="submit" mdbBtn color="default" sclass="waves-light" mdbWavesEffect value="Cancel"> -->
                  </div>
                </form>
                <!-- Login form -->
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>