<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Left Sidebar</h1>
    <button pButton type="button" (click)="visibleSidebar1 = false" label="Save" class="ui-button-success"></button>
    <button pButton type="button" (click)="visibleSidebar1 = false" label="Cancel" class="ui-button-secondary"></button>
</p-sidebar>

<!-- <button mdbBtn type="button" color="primary" rounded="true" class="fa fa-angle-right arrow-size" (click)="visibleSidebar1 = true" mdbWavesEffect></button> -->
<!-- <p-button class="fa fa-angle-right" (click)="visibleSidebar1 = true"></p-button> -->
<button pButton type="button" icon="fa fa-angle-right" class="arrow-size btn-side-bar-position" (click)="visibleSidebar1 = true"></button>